body{
  background-color: black;
  margin:0;
  min-height: 100%; overflow:hidden;
  /* font-family: 'Alegreya', serif; */
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-style: medium;
  color: #ebf5ec;
  min-width:720px;
  min-height: 1125px;
}
li {color:white;}
li a {cursor: pointer;  background-color: #0c171c;}
li a:hover{font-style: italic; }

.cap{
  position:fixed;
  font-size:20px;
  color: white;
  z-index: 10;
  max-width: 80%; height: auto;
  text-align:center;
  bottom: 8vh;
  opacity: 0;
}

.room{
  display: none; position: fixed;
}
.box{
  /* display:grid;
  grid-template-columns: auto ;
  grid-template-rows: 80% ; */
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
  }

.home, .home2{
  position:fixed;
  z-index:15;
  height:auto;
  width: 60px;
  top:90vh;
  left:87vw;
}


.home:hover, .home2:hover {
  top:89vh;
  cursor: pointer;
}

#switchon, #switchoff{
  display:none;
  position:fixed;
  z-index: 16
}

img{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 800px; width: 1250px;
  justify-content: center;
  border: 10px;
  border-color: blue;


}
#locked{
  opacity: 0;
  display: none;
  z-index: 15;
}

.textTop{top:2vh; z-index: 1}

li{list-style-type: none;}

#choiceBox, #choiceBox2{
  z-index:10;
  display: none;
  opacity: 0;
  padding:10px;
  position: fixed;
  height: 200px;
  width: 400px;
  top:6vh;
  left:8vw;
}
