body{
  background-color: black;
  margin:0;
  min-height: 100%; overflow: hidden;
  /* font-family: 'Alegreya', serif; */
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-style: medium;
  color: #ebf5ec;
}
li {color:white;}
li a {margin-left:10px; cursor: pointer;}


.box{
  display:grid;
  grid-template-columns: 1250px ;
  grid-template-rows: 800px ;
  display: flex;
  justify-content: center;
  margin: auto;
  border:solid;
  position: relative;
  }

.home, .home2{
  position:fixed;
  z-index:15;
  height:auto;
  width: 65px;
  top:91vh;
  left:90vw;
}


.home:hover, .home2:hover {
  top:90vh;
  cursor: pointer;
}

img{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto; width: 85%;
  justify-content: center;
  border: 10px;
  border-color: blue;
}

.textTop{top:2vh; z-index: 1}

li{list-style-type: none;}

#choiceBox{
  z-index:10;
  display: none;
  opacity: 0;
  padding:10px;
  position: fixed;
  height: 200px;
  width: 400px;
  top:4vh;
  left:6vw;
}


.caption{
  background-color: black;
  opacity: .7;
}
